<h1>Administration Home</h1>
<hr />
<div class="btn-group btn-group-justified">
    @Html.ActionLink("Create Exercise", "CreateExercise", "Manager", new { Area = "Administration" }, new { @class = "btn btn-default" })
    @Html.ActionLink("Create Workout", "CreateWorkout", "Manager", new { Area = "Administration" }, new { @class = "btn btn-default" })
    @Html.ActionLink("Create Schedule", "CreateSchedule", "Manager", new { Area = "Administration" }, new { @class = "btn btn-default" })
    @Html.ActionLink("View All Schedules", "All", "Schedule", new { Area = "Administration" }, new { @class = "btn btn-default" })
    @Html.ActionLink("View All Members", "AllUsers", "Manager", new { Area = "Administration" }, new { @class = "btn btn-default" })
</div>