<h1>ADMINISTRATION HOME</h1>
<p>@Html.ActionLink("Create Exercise", "CreateExercise", "Manager", new { Area = "Administration" }, new { })</p>
<p>@Html.ActionLink("Create Workout", "CreateWorkout", "Manager", new { Area = "Administration"}, new { })</p>
<p>@Html.ActionLink("Create Schedule", "CreateSchedule", "Manager", new { Area = "Administration" }, new { })</p>
<p>@Html.ActionLink("View All Schedules", "All", "Schedule", new { Area = "Administration" }, new { })</p>
<p>@Html.ActionLink("View All Members", "AllUsers", "Manager", new { Area = "Administration" }, new { })</p>