@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sports Club 13</h1>
</div>

@*@Html.MVCGrid("PagingGrid")*@

<div class="row">
    <div class="col-md-6">
        <h2>Total Members</h2>
        @Html.Action("TotalMembers", "Home")
    </div>
    <div class="col-md-6">
        <h2>Total Workouts Made</h2>
        @Html.Action("TotalWorkouts", "Home")
    </div>
</div>
<h1>Workout of the day</h1>
@Html.Action("GetWorkOutOfTheDay", "Workout")

@if (Request.IsAuthenticated)
{
    @Html.Action("SignUpForWorkout", "Workout")
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryunob")
}